html, body {
    margin: 0;
    padding-left: 2%;
    background-color: black;
}
h1, #search-form {
    /* display: inline-block; */
    width: 290px;
}
#search-form input {
    height: 20px;
    width: 60%;
}
#search-form button {
    height: 26px;
    width: 12%;
    margin-left: -5px;
}
#header {
    /* font-family: 'Zen Tokyo Zoo', cursive; */
    /* font-family: 'Bebas Neue', cursive; */
    display: inline-block;
    font-family: 'Teko', sans-serif;
    color: red;
    font-size: 1.25em;
    width: 50%;
}
#show-count-id {
    font-family: 'Teko', sans-serif;
    color: red;
    font-size: 1.10em;
}
#movie-searched-id {
    font-family: 'Teko', sans-serif;
    font-size: 1.4em;
}
.row {
    background-color: black;
    color: white;
    /* width: 98%; */
    /* margin-left: auto; */
    margin-right: auto;
    margin-bottom: 0;
    /* padding-left: 2%; */
}
.row:after {
    content: "";
    clear: both;
    display: table;
}
.four-column {  
    width: 29.5%;
    float: left; 
    margin-left: 1.75%; 
    margin-right: auto;
    margin-bottom: 3%; 
    text-align: center;
    position: relative;
    height: 400px;
}
.four-column .name{
    font-size: 170%;
    font-weight: bold;
    text-align: center;
    padding-top: 12%;
    width: 98%;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
}
.four-column:hover .pic{
    opacity: .2;
}
.four-column:hover .name{
    visibility: visible;
}
.pic {
    width: 100%;
}
.row p {
    font-size: 100%;
}
.four-column p {
    margin:0;
    padding:0;
}
@media(min-width: 768px) {
    #header {
        font-size: 150%; 
    }
    #search-form input {
        height: 25px;
        width: 60%;
    }
    #search-form button {
        height: 31px;
        width: 13%;
        margin-left: -5px;
    }
    .four-column {  
        width: 25%;
        float: left; 
        margin-left: 2.0%; 
    }
    .four-column .name{
        font-size: 130%;
    }
    .row p {
        font-size: 120%;
    }
}
@media(min-width: 993px) {
    #header {
        font-size: 170%;
    }
    #search-form input {
        height: 30px;
        width: 70%;
    }
    #search-form button {
        height: 36px;
        width: 15%;
        margin-left: -5px;
    }
    .row {
        max-width: 1500px;
        /* width: 80%; */
        padding-left: 0;
    }
    .four-column {  
        width: 16.75%;
        float: left; 
        /* margin-left: 2.9%;  */
        margin-right: 0; 
    }
    .four-column .name{
        font-size: 100%;
    }
    .row p {
        font-size: 110%;
    }
}